.balance {
    color: #707070;
    display: inline;
    font-size: 12px;

    .usdt {
        background-image: url(../../Assets/i_usdt_green.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 12px;
        width: 13px;
        display: inline-block;
    }
}
