

.modal-title {
}







.modal-90w {
}

.modal-content {
    border: 5px solid #3F80FA;


    span {
        color: #3F80FA;
        font-size: 3rem;
    }

    .modal-img {
        height: 15rem;
        margin-left: 5.5rem;
    }
    

}