.easy_history2 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 10% 25% 18% 18% 14%;
    grid-gap: 3rem;
    margin-top: 4rem;
    align-items: center;

    &:hover {
        background-color: #ddd;
    }

    

    @media only screen and(max-width: 992px) {
        grid-template-columns: 15% 25% 18% 18% 14%;
        grid-gap: 2rem;
        margin-bottom: 10rem;

        
        border-top: 3px solid #ddd;
    }

    @media only screen and(max-width: 767px) {
        grid-template-columns: 15% 35% 22% 20%;

    }

    @media only screen and(max-width: 533px) {
        grid-template-columns: 18% 30% 22% 22%;
    }

    @media only screen and(max-width: 476px) {
        grid-gap: 0;
        grid-template-columns: 20% 35% 25% 22%;
    }

    @media only screen and(max-width: 433px) {
        grid-gap: 0;
        grid-template-columns: 20% 24% 30% 30%;
    }



    

    

    

}

.tabcontent {
    &:link,
    &:visited {
        cursor: pointer;
        color: #343a40;
        text-decoration: none;
    }
}

.history-detail {
    padding: 1rem 5px;

    @media only screen and(max-width: 992px) {
        // &:first-child {
        //     padding: 0;
        //     display: flex;
        //     justify-content: flex-start;
        // }

        // &:not(:first-child) {
        //     padding: 0;
        //     margin: 0;
        //     display: flex;
        //     flex-direction: column;
        // }
    }

    @media only screen and(max-width: 600px) {

        &:nth-child(2) {
        }

        &:nth-child(3) {

        }

        &:nth-child(4) {
        }
    }
}

.history-detail-title {
    @media only screen and(max-width: 767px) {
        margin: 0;
    }
}

.history-detail-text {
    font-size: 1.5rem;
    font-weight: bold;

    @media only screen and(max-width: 528px) {
        font-size: 1.2rem;
    }

    @media only screen and(max-width: 400px) {
        font-size: 1rem;
    }
}

.history-date {
}

// .history-complete {
//     font-size: 1rem;
//     background-color: #f2f2f2;
//     border-radius: 50%;
//     width: 4rem;
//     height: 4rem;
// }

.history-complete {
    @media only screen and(max-width: 450px) {
        font-size: 1rem;
    }
}

.history-date {
    @media only screen and(max-width: 450px) {
        font-size: 1.2rem;
    }
}

.master-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.i_blue {
    background-image: url(../../../Assets/i_usdt_blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.8rem;
    width: 2.2rem;
}

.i_green {
    background-image: url(../../../Assets/i_usdt_green2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.8rem;
    width: 2.2rem;
}

.i_purple {
    background-image: url(../../../Assets/i_usdt_purple.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.8rem;
    width: 2.2rem;
}

.txt18 {
    font-size: 1.8rem;
    color: #1f7eff;
}
.txt18_g {
    font-size: 18px;
    color: #01b289;
}
.txt18_p {
    font-size: 18px;
    color: #8a52a2;
}

.all-spinner {
    padding: 10rem;
}

@media (max-width: 1200px) {
    .receiving {
        display: none;
    }
    .cny {
        display: none;
    }

    .rate {
        display: none;
    }

    .complete {
        display: none;
    }
}





.history-complete-box {
    @media only screen and(max-width: 767px){
    display: none !important;
    }
}

.history-detail-text {
}

