.easy_history2 {
    max-width: 100%;
    display: grid;
    // grid-template-columns: repeat(5, 20%);
    grid-template-columns: 10% 25% 18% 18% 14%;
    grid-gap: 3rem;
    margin-top: 3rem;

    &:hover {
        background-color: #ddd;
    }

    @media only screen and(max-width: 992px) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 25% 30% 30% 1fr;
        grid-gap: 2rem;
        margin-bottom: 10rem;
        border-bottom: 2px solid #ddd;
    }

    @media only screen and(max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    @media only screen and(max-width: 500px) {
        grid-template-columns: 35% 35% 10%;
        grid-gap: 1rem;
    }

    // @media only screen and(max-width: 450px) {
    //     grid-template-columns: 35% 35% 10%;
    //     grid-gap: 1rem;
    // }

    

    

}

.tabcontent {
    &:link,
    &:visited {
        cursor: pointer;
        color: #343a40;
        text-decoration: none;
    }
}

.history-detail {
    padding: 1rem 5px;
    display: flex;
    align-items: flex-start;

    @media only screen and(max-width: 992px) {
        &:first-child {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            padding: 0;
            display: flex;
            justify-content: flex-start;
        }

        &:last-child {
            .history-detail-title {
                display: none;
            }
        }

        &:nth-child(2) {
            .history-detail-title {
                display: none;
            }
        }

        &:not(:first-child) {
            grid-row: 2 / 3;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
    }

    @media only screen and(max-width: 500px) {
        &:last-child {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }

        &:nth-child(2) {
            grid-row: 1 / 2;
            grid-column: 2 / -1;
        }

        &:nth-child(3) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        &:nth-child(4) {
            justify-self: flex-start;
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
    }
}

.history-detail-title {
    margin-right: 1rem;
    height: 100%;
    display: flex;
    align-items: center;

    @media only screen and(max-width: 992px) {
        display: flex;
        align-items: center;
    }

    @media only screen and(max-width: 767px) {
        margin: 0;
    }
}

.history-detail-text {
    font-size: 1.5rem;
    font-weight: bold;
    height: 100%;

    @media only screen and(max-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    @media only screen and(max-width: 400px) {
        font-size: 1.2rem;
    }
}

// .history-complete {
//     font-size: 1rem;
//     background-color: #f2f2f2;
//     border-radius: 50%;
//     width: 4rem;
//     height: 4rem;
// }

.history-complete {
    @media only screen and(max-width: 450px) {
        font-size: 1rem;
    }
}

.history-date {
    @media only screen and(max-width: 450px) {
        font-size: 1.2rem;
    }
}

.master-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.i_blue {
    background-image: url(../../../Assets/i_usdt_blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.8rem;
    width: 2.2rem;
}

.i_green {
    background-image: url(../../../Assets/i_usdt_green2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.8rem;
    width: 2.2rem;
}

.i_purple {
    background-image: url(../../../Assets/i_usdt_purple.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.8rem;
    width: 2.2rem;
}

.txt18 {
    font-size: 1.8rem;
    color: #1f7eff;
}
.txt18_g {
    font-size: 18px;
    color: #01b289;
}
.txt18_p {
    font-size: 18px;
    color: #8a52a2;
}

.all-spinner {
    padding: 10rem;
}

@media (max-width: 1200px) {
    .receiving {
        display: none;
    }
    .cny {
        display: none;
    }

    .rate {
        display: none;
    }

    .complete {
        display: none;
    }
}





.history-complete-all {
    @media only screen and(max-width: 767px){
        display: none;
    }
}

