.detail-box {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 3rem;
    padding: 1rem;
    padding-bottom: 10rem;

    border-bottom: 1px solid #ddd;
}

.detail-spinner {
    text-align: center;
    margin: 2rem;
}
