header {
    background-color: #242e47;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        background-image: url('../../Assets/logo_easy.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 2rem;
        width: 13rem;
        margin-left: 3rem;
        @media screen and(max-width: 30rem) {
            margin-left: -1rem;
        }

        @media screen and(max-width: 13rem) {
            display: none;
        }
    }

    .navBar {
        width: 100%;
        height: 100%;

        @media screen and(max-width: 767px) {
            padding: 2rem;
        }
    }

    .navList {
        margin-left: auto;
        max-width: 95%;
    }

    .navLink:visited,
    .navLink:link {
        margin: 1rem 6rem 1rem 0;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #ddd;
        }
    }
}
