.i_notyet {
    background-image: url('../../../Assets/icon_load02.gif');
    background-size: inherit;
    background-repeat: no-repeat;
    height: 110px;
    width: 115px;
    margin: auto;
}

.i_done {
    background-image: url('../../../Assets/i_complete.png');
    background-size: inherit;
    background-repeat: no-repeat;
    height: 110px;
    width: 115px;
    margin: auto;
}
