.confirmBuyContent {
  margin-top: 3rem;
}

.confirmBuyInputBox {
}

.confirmBuyInput {
  font-size: 17px;
  padding: 30px;
}

.confirmBuy-textContent {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #3f80fa;
  display: flex;
  justify-content: space-between;
}

.confirmBuy-text {
  font-size: 20px;
  font-weight: bold;
  color: #707070;
}

.buyCount-btnBox {
  text-align: center;
}

.buyCount-btn {
  @media only screen and(max-width:767px) {
    display: block;
    width: 100%;
  }

  @media only screen and(max-width:403px) {
    padding: 15px 0;
  }
}
