h4 {
  font-size: 2.4rem;
}

.form-input {
  padding: 2.5rem 1rem;
  margin-bottom: 2rem;
}

.form-btn {
  height: 6rem;
  font-size: 2rem;
  margin-top: 3.5rem;
  background-color: #3e80f9;
}

.form-btn:hover {
  background-color: #568ef4;
}
