.contentbox {
  background-color: #fff;
  margin: 5px auto;
  padding: 2.5rem;
  border-radius: 5px;
  max-width: 110rem;
}

.history-link {
  &:link,
  &:visited {
    transition: 0.3s;
    font-size: 2rem;
    color: #707070;
    padding: 2.2rem;
    margin-right: 1rem;
    text-decoration: none;

    @media only screen and(max-width: 311px) {
      font-size: 1.4rem;
    }
  }

  // &:active {
  //     border-bottom: 1px solid #3f80fa;
  // }
}

.history-link-active {
  border-bottom: 3px solid #3f80fa;
  color: #3f80fa !important;
}

.history-tab {
  border-bottom: 1px solid #d7e2f3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
