*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.bg_darkblue {
    background-color: #242e47;
}
.bg_grey {
    background-color: #e2e0e0;
}
.bg_white {
    background-color: #ffffff;
}
.c_fff {
    color: #fff;
}
.c_blue {
    color: #3f80fa;
}
.c_green {
    color: #1ba17a;
}
.c_grey {
    color: #707070;
}

.pl_6 {
    padding-left: 6px;
}

.pt_20 {
    padding-top: 2rem;
}

.mt_120 {
    margin-top: 12rem;
}

.h_88 {
    min-height: 90vh;
}

.fs_20 {
    font-size: 2rem;
}

.mt_mb {
    margin-top: 2.2rem;
    margin-bottom: 1.7rem;
}

.txt_12_grey {
    color: #707070;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: normal;
}

.txt_center {
    text-align: center;
    margin: auto;
}

.center_p20 {
    text-align: center;
    padding: 2rem;
}

// 文字自動換行
.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.h-large {
    height: 10rem;
}
