*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.bg_darkblue {
  background-color: #242e47;
}
.bg_grey {
  background-color: #e2e0e0;
}
.bg_white {
  background-color: #ffffff;
}
.c_fff {
  color: #fff;
}
.c_blue {
  color: #3f80fa;
}
.c_green {
  color: #1ba17a;
}
.c_grey {
  color: #707070;
}

.c_red {
  color: #db1c1b;
}

.bg-orange {
  background-color: orange;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100vw;
}

.w-sm {
  width: 80px !important;
}

.w_100 {
  width: 10rem !important;
}

.w_400 {
  width: 40rem !important;
}

.h_100 {
  line-height: 2;
}

.pt_20 {
  padding-top: 2rem;
}

.p_sm {
  padding: 2rem;
}

.p_sm-2 {
  padding: 2.5rem;
}

.p_md {
  padding: 3rem;
}

.mt_120 {
  margin-top: 12rem;
}

.ml_3 {
  margin-left: 3rem;
}

.pl_10 {
  padding-left: 10rem;
}

.h_88 {
  min-height: 90vh;
}

.p_sm {
  padding: 2rem;
}

.m_sm {
  margin: 2rem;
}

.pl_6 {
  padding-left: 6px;
}

.mt-big {
  margin-top: 35%;
}

.mt_sm {
  margin-top: 20%;
}

.mt_ssm {
  margin-top: 10%;
}

.mt-20 {
  margin-top: 3rem;
}

.mr_sm {
  margin-right: 3px;
}

.text-left {
  text-align: left;
}

.mr_big {
  margin-right: 10rem;
}

.h-large {
  height: 10rem;
}

.mt_mb {
  margin-top: 2.2rem;
  margin-bottom: 1.7rem;
}

.mb_sm {
  margin: 1rem;
}

.center_p20 {
  text-align: center;
  padding: 2rem;
}

.color-white {
  color: #fff !important;
}

.h-large {
  height: 10rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ddd;
}

/*
================
Font
================
*/
// history
.txt14_b {
  font-size: 14px;
  color: #1f7eff;
}

.txt14_r {
  font-size: 14px;
  color: #db1c1c;
}

.txt14_p {
  font-size: 14px;
  color: #8a52a2;
}

.txt_12 {
  color: #242e47;
  font-size: 12px;
  letter-spacing: 1.5px;
}
.txt_12_grey {
  color: #707070;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: normal;
}

// font size
.fs_20 {
  font-size: 2rem;
}

.fs_15 {
  font-size: 1.5rem;
}

.fs_sm {
  font-size: 14px !important;
}

.fs_40 {
  font-size: 4rem;
}

.txt_center {
  text-align: center;
  margin: auto;
}

.red_dot {
  color: #fff;
}
.c_yellow {
  color: #f09314;
  font-size: 12px;
}
// 文字自動換行
.pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.text-break {
  word-break: break-all;
}

/*
================
Input Label 動畫
================
*/

.input-fill:placeholder-shown::placeholder {
  color: transparent;
}

.input-fill-x {
  position: relative;
}

.input-label {
  font-size: 17px;
  color: #6c757d;

  position: absolute;
  left: 16px;
  top: 20px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-fill:not(:placeholder-shown) ~ .input-label,
.input-fill:focus ~ .input-label {
  font-size: 17px;
  color: #a7bad9;
  transform: scale(0.8) translate(0, -55px) !important;
}

/*
=========
pay info
=========
*/
.talk-iconBox {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 10rem;
  position: fixed;
  bottom: 5%;
  left: 5%;

  @media only screen and(min-width: 1200px) {
    display: none;
  }
}

.titleBoxSm {
  @media only screen and(max-width: 700px) {
    width: 100% !important;
  }
}

/*
==============
History
==============
*/
.easy_history2 {
  max-width: 100%;
  display: grid;
  grid-template-columns: 10% 25% 18% 18% 14%;
  grid-gap: 3rem;
  margin-top: 4rem;
  align-items: center;

  &:hover {
    background-color: #ddd;
  }

  @media only screen and(max-width: 992px) {
    grid-template-columns: 15% 25% 18% 18% 14%;
    grid-gap: 2rem;
    margin-bottom: 10rem;

    border-top: 3px solid #ddd;
  }

  @media only screen and(max-width: 767px) {
    grid-template-columns: 15% 35% 22% 20%;
  }

  @media only screen and(max-width: 533px) {
    grid-template-columns: 18% 30% 22% 22%;
  }

  @media only screen and(max-width: 476px) {
    grid-gap: 0;
    grid-template-columns: 20% 35% 25% 22%;
  }

  @media only screen and(max-width: 433px) {
    grid-gap: 0;
    grid-template-columns: 20% 24% 30% 30%;
  }
}

.tabcontent {
  &:link,
  &:visited {
    cursor: pointer;
    color: #343a40;
    text-decoration: none;
  }
}

.history-detail {
  padding: 1rem 5px;

  @media only screen and(max-width: 992px) {
    // &:first-child {
    //     padding: 0;
    //     display: flex;
    //     justify-content: flex-start;
    // }

    // &:not(:first-child) {
    //     padding: 0;
    //     margin: 0;
    //     display: flex;
    //     flex-direction: column;
    // }
  }

  @media only screen and(max-width: 600px) {
    &:nth-child(2) {
    }

    &:nth-child(3) {
    }

    &:nth-child(4) {
    }
  }
}

.history-detail-title {
  @media only screen and(max-width: 767px) {
    margin: 0;
  }
}

.history-detail-text {
  font-size: 1.5rem;
  font-weight: bold;

  @media only screen and(max-width: 528px) {
    font-size: 1.2rem;
  }

  @media only screen and(max-width: 400px) {
    font-size: 1rem;
  }
}

.history-complete {
  @media only screen and(max-width: 450px) {
    font-size: 1rem;
  }
}

.history-date {
  @media only screen and(max-width: 450px) {
    font-size: 1.2rem;
  }
}

.master-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.i_blue {
  background-image: url(./Assets/i_usdt_blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 2.2rem;
}

.i_green {
  background-image: url(./Assets/i_usdt_green2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 2.2rem;
}

.i_purple {
  background-image: url(./Assets/i_usdt_purple.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 2.2rem;
}

.txt18 {
  font-size: 1.8rem;
  color: #1f7eff;
}
.txt18_g {
  font-size: 18px;
  color: #01b289;
}
.txt18_p {
  font-size: 18px;
  color: #8a52a2;
}

.txt18_r {
  font-size: 18px;
  color: #db1c1b;
}

.all-spinner {
  padding: 10rem;
}

@media (max-width: 1200px) {
  .receiving {
    display: none;
  }
  .cny {
    display: none;
  }

  .rate {
    display: none;
  }

  .complete {
    display: none;
  }
}

.history-complete-box {
  @media only screen and(max-width: 767px) {
    display: none !important;
  }
}

.history-detail-text {
}

/*
===============
History Detail
===============
*/
// .detail-box {
//     width: 100%;
//     font-size: 1.5rem;
//     margin-top: 3rem;
//     padding: 1rem;
//     padding-bottom: 10rem;

//     border-bottom: 1px solid #ddd;
// }

.detail-spinner {
  text-align: center;
  margin: 2rem;
}

ul {
  display: block;
  margin: 1rem 0;
  padding: 2rem;
  border-collapse: collapse;
  width: 100%;
}
.thead {
  display: table-header-group;
}
.tr {
  display: table-row;
}
.tbody {
  display: table-row-group;
}

.tbody li {
  font-size: 1rem;
  font-weight: bold;
}

.thead li,
.tr li {
  display: table-cell;
  padding: 5px;
}
.thead li {
  color: #6c757d;
}
ol:nth-child(even) {
  background: rgba(#6cffd1, 0.2);
}

@media only screen and (max-width: 991px) {
  .thead {
    display: none;
  }
  .tr {
    display: block;
    margin-bottom: 5px;
    margin-top: -7rem;
    padding-bottom: 3rem;
    word-wrap: break-all;
  }
  .tr li {
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1.5rem;
    word-wrap: break-all;

    @media only screen and(max-width: 450px) {
      font-size: 1rem;
      word-wrap: break-all;
    }
  }
  .tr li:before {
    content: attr(data-title);
    display: inline-block;
    width: auto;
    min-width: 20%;
    font-weight: 900;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 334px) {
  .tr li {
    max-width: 22rem;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

/*
=========
Images
=========
*/
.i_notyet {
  background-image: url('./Assets/icon_load02.gif');
  background-size: inherit;
  background-repeat: no-repeat;
  height: 110px;
  width: 115px;
  margin: auto;
}

.i_done {
  background-image: url('./Assets/i_complete.png');
  background-size: inherit;
  background-repeat: no-repeat;
  height: 110px;
  width: 115px;
  margin: auto;
}

.i_error {
  background-image: url('./Assets//icon-error-new.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  margin: auto;
}

.i_copy2 {
  background-image: url(./Assets/i_copy.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

/*
==============
Form & Input
==============
*/
.easy-input {
  border-radius: 5px;
  padding: 15px;
  margin: 15px auto 20px;
  display: block;
  border: none;
  width: 100%;
  overflow: visible;
}

.easy-border {
  border: 1px solid #d7e2f3 !important;
}

.lightblue_bg {
  background-color: rgba(215, 226, 243, 0.2);
  padding: 10px;
}

input {
  font-size: 17px !important;

  @media only screen and(max-width: 767px) {
    padding-left: 12px !important;
  }
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

::-webkit-input-placeholder {
  font-size: 17px;
}

:-moz-placeholder {
  font-size: 17px;
}

::-moz-placeholder {
  font-size: 17px;
}

:-ms-input-placeholder {
  font-size: 17px;
}

.form-control {
  font-size: 1rem;

  @media only screen and(max-width: 767px) {
    font-size: 17px;
  }
}

.utileInput {
  padding: 30px;
  font-size: 20px;
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* and then whatever styles you want*/
  height: 30px;
  width: 100px;
  padding: 5px;
  padding-left: 10px !important;
}

/*
==============
Button
==============
*/
.walletBtn {
  color: #707070;
  border-color: #d7e2f3;
  background-color: #fff;
  font-size: 17px;
  padding: 10px;

  &:active,
  &:focus {
    color: #007bff !important;
    border-color: #007bff !important;
    background-color: #fff !important;
    box-shadow: none !important;
  }

  &:hover {
    color: #007bff;
    border-color: #007bff;
    background-color: #fff;
  }
}

.walletBtnActive {
  color: #007bff;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: none;
  font-size: 17px;
  padding: 10px;

  &:active,
  &:focus {
    color: #007bff !important;
    border-color: #007bff !important;
    background-color: #fff !important;
    box-shadow: none !important;
  }

  &:hover {
    color: #007bff;
    border-color: #007bff;
    background-color: #fff;
  }
}

.disableWalletBtn {
  color: #707070;
  border-color: #d7e2f3;
  opacity: 0.3;

  background-color: #fff;
  font-size: 17px;
  padding: 10px;
  cursor: not-allowed !important;

  &:hover,
  &:active,
  &:focus {
    color: #707070 !important;
    border-color: #d7e2f3 !important;
    background-color: #fff !important;
    box-shadow: none !important;
  }
}

.easy-btn {
  background-color: #3e80f9;
  border-radius: 5px;
  color: #fff;
  width: 50%;
  padding: 15px;
  margin: 10px auto 15px;
  border: none;
  transition: 0.3s;
  font-size: 17px;
  cursor: pointer;
}

.disable-easy-btn {
  background-color: #c7c7c7;
  border-radius: 5px;
  color: #fff;
  width: 50%;
  padding: 15px;
  margin: 10px auto 15px;
  border: none;
  transition: 0.3s;
  font-size: 17px;
  cursor: auto !important;

  &:hover,
  &:active,
  &:focus {
    color: #fff !important;
    border-color: #c7c7c7 !important;
    background-color: #c7c7c7 !important;
    box-shadow: none !important;
  }
}

.easy-btn-bs {
  background-color: #3e80f9;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  border: none;
  transition: 0.3s;
  font-size: 17px;
  cursor: pointer;
}

.smScreen-btn {
  @media only screen and(max-width:550px) {
    width: 100%;
  }
}

.cus-btn {
  border-radius: 5px;
  padding: 15px;
}

.easy-btn:hover {
  background-color: #568ef4;
}

.mw400 {
  max-width: 400px;
  display: block;
}

a:link,
a:visited {
  text-decoration: none;
}
