*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


.bg_darkblue{background-color: #242E47;}
.bg_grey{background-color: #E2E0E0;}
.bg_white{background-color: #FFFFFF;}
.c_fff{color: #fff;}
.c_blue{color: #3F80FA;}
.c_green{color:#1BA17A}
.c_grey{color: #707070;}


.pl_6 {padding-left: 6px;}

.h_88 {min-height: 90vh;} 

.fs_20 {font-size: 2rem;}
