body {
  // background-color: #e2e0e0;
  background-image: url(./Assets/new-k100u-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}

html {
  　　-webkit-text-size-adjust: none;
}
