.user-auth {
  background-image: url(../../Assets//easy_bg.jpg);
  // background-image: url(../../Assets//257796.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem 0;
  height: 100vh;
  h4 {
    font-size: 2.5rem;
  }

  @media only screen and(max-width: 500px) {
    padding: 5rem 15px;
  }
}

.form-nav {
  margin: 2rem 0 2rem 0;
  padding: 2rem;
}

.form-link {
  display: inline-block;
  text-align: center;
  padding-bottom: 17px;
  font-size: 17px;
  color: #707070;
  border-bottom: 1px solid rgb(206, 201, 201);
  width: 50%;
}

.isActive {
  border-bottom: 2px solid #3f80fa;
  width: 50%;
  color: #3f80fa;
}
